.infoCard {
    flex-basis: 30%;
    margin: var(--mainMargin) 30px;
}

.iconContainer {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 3.4vw;
    text-align: center;
    font-size: 1.7vw;
    white-space: nowrap;
    background-color: var(--yellowColor);
}

.description {
    padding: 0 3.2vw;
    margin-top: 2vw;
    text-align: center;
    font-size: 1vw;
}