.informationsBox {
    padding: 15px 0;
}

.information {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin: 15px 0;
}

.informationIcon {
    font-size: 1.7rem;
    margin: 0 15px 0 4px;
}