.product {
margin-top: 35px;
padding: 0 var(--mainPadding);
}

.breadCrumbs__list {
    display: flex;
    font-size: .7rem;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.5);
    
}

.breadCrumbs__item {
    
}

.breadCrumbs__link {
    all: unset;
}

.breadCrumbs__arrow {
    margin: 0 10px;
}

.breadCrumbs__span {
   cursor: pointer;
   transition: .2s;
}

.breadCrumbs__span:hover {
    color: rgba(0, 0, 0);
    text-decoration: underline;
}

.breadCrumbs__span.active {
    color: rgba(0, 0, 0);
}
