.productCard {
flex-basis: 20%;
flex-shrink:0;
position: relative;
margin-right: 30px;
margin-bottom: 40px;
height: 400px;
cursor: pointer;
background-color: #fff;
overflow: hidden;
}

.productImage {
    width: auto;
    height: 86%;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}

.productDescription {
    position: absolute;
    padding: 10px 0;
    bottom: -35px;
    left: 0;
    width: 100%;
    min-height: 90px;
    background-color: rgb(255, 255, 255);
    transition: .3s;
}

.productCard:hover .productDescription{
  bottom: 0;
}

.productTitle {
    overflow: hidden;
}

.productPrice {
    padding: 3px;
    font-size: .8rem;
    font-weight: 500;
}

.productRating {
display: flex;
align-items: center;
justify-content: flex-end;
font-size: .7rem;
margin-top: 10px;
padding-right: 20px;
}

.starIcon {
    color: rgb(255, 166, 0);
    margin-right: 5px;
}

@media(max-width: 1024px){
    .productTitle {
        white-space:nowrap;
        text-overflow:ellipsis
    }
}