.videoBox {
  position: relative;
  margin: 20px auto 0;
  width: 91%;
  max-height: 460px;
  overflow: hidden;
}

.headerVideo {
  width: 100%;
}

.title {
  position: absolute;
  top: 13%;
  left: 5%;
  z-index: 9;
}

.title p {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Roboto";
}

.title button {
  border: none;
  padding: 10px 25px;
  margin-top: 9px;
  margin-left: 3px;
  font-family: "Montserrat";
  font-weight: 600;
}
