.headerSearch {
    display: flex;
    position: absolute;
    top: 92px;
    right: var(--mainPadding);
    align-items: center;
    justify-content: flex-end;
    height: 34px;
    width: 16%;
    border-bottom: 1px solid black;
}

.headerSearchIcon {
    font-size: 1.1rem;
}

.searchInput {
    all: unset;
    width: 100%;
    z-index: 99;
}

.typing {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: rgb(158, 158, 158);
    font-size: .7rem;
}