.headerSearch {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    height: 34px;
    width: 16%;
    border-bottom: 1px solid black;
}

.headerSearchIcon {
    font-size: 1.1rem;
}

.searchInput {
    all: unset;
}

.typing {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: rgb(108, 108, 108);
    font-size: .7rem;
}