.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--mainPadding);
    width: 100%;
    height: 57px;
}

.navigation{
    flex-basis: 33%;
    font-size: 1.1rem;
    font-weight: 600;
}

.navigation__Link {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(100, 100, 100);
    transition: .2s;
}

.navigation__Link:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.navigation__LinkActive {
    color: black;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

.logo {
    flex-basis: 33%;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto';
    cursor: pointer;
}

.iconBox {
    display: flex;
    justify-content: flex-end;
    flex-basis: 33%;
}

.icon {
    font-size: 1.6rem;
}

.iconBadge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 1.4vw;
    height: 1.4vw;
    background-color: var(--yellowColor);
    border-radius: 50%;
    font-size: .9vw;
    font-weight: 700;
}

.hashLink {
    all: unset;
    position: relative;
    text-decoration: none;
    margin-left: 35px;
    cursor: pointer;
}


