.cartItem {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}

.cartItem__imageContainer {
  width: 9.14vw;
  min-width: 72px;
  margin-right: 3.5rem;
}

.cartItem__image {
  width: 100%;
}

.cartItem__detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cartItem__header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.header__title {
  font-weight: 400;
}

.header__price {
  width: 50px;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5vw;
}

.cartItem__attribute {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.attribute__p {
  opacity: 0.5;
}

.attribute__counter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 20px;
  min-width: 75px;
}

.attribute__value {
  font-weight: 700;
}

.attribute__span {
  margin: 0 1vw;
  font-weight: 700;
}

.attribute__button {
  padding: 2px 4px;
}

.attribute__button,
.options__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cartItem__options {
  display: flex;
  align-items: center;
}

.options__button {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  margin-right: 4vw;
  font-size: 1rem;
  opacity: 0.5;
}
.options__icon {
  font-size: 1.1rem;
  margin-right: 15px;
}
